@font-face {
  font-family: "3DumbTitle";
  src: url("fonts/3Dumb-webfont.ttf");
}

@font-face {
  font-family: "2DumbTitle";
  src: url("fonts/2Dumb-webfont.ttf");
}


body {
  background-color: lightgray;
  margin: 40px;
  padding: 0px;
}

.container{
  margin: 0px;
}

h1 {
  background: none;
  font-size: 60px;
  color: black;
  font-family: monospace;
}

h2 {
  font-family: "3DumbTitle";
  font-size: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  font-family: "3DumbTitle";
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p {
  text-align: left;
  margin: 0px, 20px, 0px, 20px;
}

#panel {

  margin-top: 40px;
  font-size: 18px;
  font-family: monospace;
}

.button {
  background-color: blue;
  color: white;
  font-size: 14px;
  width: 100px;
  height: 20px;
}
